/*Sección Skills*/
/* section.skills {
    height:500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .skills__title {
    font-weight: 700;
    font-size: 32px;
    align-self: center;
  }
  
  .skills__line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px 152px 88px;
  }
  
  .skills__box {
    width: 174px;
    height: 174px;
    background-color: var(--color-de-boxes);
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;  
  
  }

  .skills__box img{
    width: 30px;
  }

  .skills__box ul{
    width: 174px;
    height: 100px;  
    background-color: var(--color-de-boxes);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

    border: 1px solid red;
  } */

.skills{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills__title {
  font-weight: 700;
  font-size: 32px;
  align-self: center;
}

.skills__line{
  display: flex;
  justify-content: space-around;

}

.skills__box{
  width: 170px;
  height: 170px;
  
  background-color: var(--color-de-boxes);
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-self: center; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  
  /* border: 1px solid green; */
}

.skills__box ul{
  height: 80%;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  

  text-align: center;
  
  /* border: 1px solid blue; */
}



.skills__img img{
  height: 50px;
}